{# error405.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Error{% endblock %}


{% block content %}
    <div class="container">
        <h2>Erreur 405</h2>
        <p>La page que vous recherchez n'existe pas.</p>
    </div>
{% endblock %}
