{% extends 'base.html.twig' %}

{% block body %}
    {{ 'app.success.order.saved'|trans }}<br>
    {{ 'app.success.email.sent'|trans }}

    <p>{{ 'app.success.print.reference'|trans }} : <strong>{{ reference }}</strong></p>


{% endblock %}
