Votre commande est bien enregistrée.<br>
Vous allez recevoir un email avec votre code de réservation.

<p>Merci de noter ou d'imprimer votre code de réservation en cas de non réception de cet email : <strong>{{ object.reference }}</strong></p>